<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59835702785-fr5eh447oed10sp7r6crhiq314taensi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59835702785-fr5eh447oed10sp7r6crhiq314taensi</string>
	<key>API_KEY</key>
	<string>AIzaSyDXRbF_z-9Zhezsl1Tu1bCF0dzyfe6i9Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>59835702785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jvh.login</string>
	<key>PROJECT_ID</key>
	<string>react-native-login-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-login-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59835702785:ios:9acd06f4c78c799f6fea00</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-login-fb.firebaseio.com</string>
</dict>
</plist>